<header>
    <nav>
    
        <ul>
          <li><a href="About">About Me</a></li>

                    
          <li><a href="https://github.com/jhonsbaracaldo"><i class="fab fa-github"></i><span>GitHub</span></a></li>
          <li><a href="https://www.linkedin.com/in/jhon-baracaldo/"><i class="fab fa-linkedin"></i><span>LinkedIn</span></a></li>
          <li><a href="https://mundoledjm.com/"><i class="fab fa-wordpress"></i><span>WordPress</span></a></li>
        </ul>
      </nav>
      
  </header>
