body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Centra el contenido del encabezado */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* Hace que la lista se centre */
}

nav ul li {
    display: inline-block; /* Alinea los elementos de la lista horizontalmente */
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: inline-block; /* Alinea los íconos y textos horizontalmente */
    vertical-align: middle; /* Centra verticalmente los íconos y textos */
}

nav ul li a span {
    margin-left: 5px; /* Agrega un pequeño espacio entre el ícono y el texto */
}

nav ul li a:hover {
    color: #ccc;
}

/* Estilos para los iconos */
.fa {
    margin-right: 5px;
}

/* Estilos para la sección "about-me" */
.about-me-section {
    display: flex; /* Utiliza flexbox para organizar los elementos en la sección */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 30px 0;
    margin-top: -10px; /* Margen negativo para pegar la sección al encabezado */
}

.about-me-section .photo {
    flex: 1; /* La foto ocupa la mitad del ancho */
    margin-right: 20px;
}

.about-me-section .photo img {
    max-width:65%; /* La imagen de la foto ocupa todo el ancho disponible */
    height: auto;
    margin-top: -3.5%;
}

.about-me-section .description {
    flex: 1; /* La descripción ocupa la mitad del ancho */
    margin-top: 0%; /* Ajusta este valor para acercar el texto más a la foto */
    margin-left: -20%;
}

.about-me-section .description h2 {
    font-size: 80px; /* Ajusta el tamaño de la letra según lo necesites */
    font-weight: bold; /* Hace la letra más gorda */
    margin-bottom: 10px;
     margin-top: 0%;
}

.about-me-section .description p {
    font-size: 16px;
}

/* Estilos para el pie de página */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: -2.2%;


}

.skill {
    text-align: center;
    font-weight: bold; 
  }
  
  .skill h3 {
    text-align: center;
    font-weight: bold; 
  }
  .row {
    display: flex;
    text-align: center; /* Centra los íconos horizontalmente */
  }
  
  .icon {
    display: inline-block; /* Muestra los íconos en línea horizontalmente */
    margin: 0 10px; /* Agrega un espacio entre cada ícono */
    transition: transform 0.2s ease-in-out;  /* Add transition for smooth animation */

  }
  .icon:hover {
    transform: scale(1.2);  /* Increase icon size by 20% on hover */
  }
  
  .Contact {
    text-align: center; /* Center the content horizontally within the Contact div */
  }

  .Contact h3 {
    margin-bottom: 10px;
    font-weight: bold; 
  }

  .Contact ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margins */
  }

  .contact-info {
    display: inline-block; /* Display list items inline for horizontal layout */
    margin-right: 20px; /* Add space between contact details */
  }

  .contact-info:last-child { /* Remove margin for the last item */
    margin-right: 0;
  }

  .circle-icon {
    display: inline-block;
    width: 10px; /* Adjust size as needed */
    height: 10px;
    border-radius: 50%;
    background-color: green; /* Change to your desired color */
    margin-right: 5px; /* Adjust spacing as needed */
  }
  
  .text {
    vertical-align: middle; /* Align text vertically with the circle */
  }



  .Proyectos h3{
   text-align: center;
   margin-top: 2%;
   font-weight: bold; 
  }
  .project-container {
    display: flex;
    flex-direction: row; /* Cambiado a row para que las imágenes se alineen horizontalmente */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
  }
  
  .project {
    margin-bottom: 20px; /* Margen inferior para separar las imágenes */
  }
  
  .project img {
    width: 80%; /* Ancho del 80% del contenedor */
    height: auto;
    border-radius: 4%;
    margin-top: 6%;
    margin-bottom: 10px; /* Margen inferior para dar espacio a los botones */
    transition: transform 0.2s ease-in-out;  /* Add transition for smooth animation */

  }
  .project:hover {
    transform: scale(1.1);  /* Increase icon size by 20% on hover */
  }
  
  .project button {
    padding: 12px;
    background-color: black; /* Fondo transparente */
    color: #fff;
    border: 2px solid #fff; /* Borde blanco */
    border-radius: 5px;
    cursor: pointer;
    height: 20%;
    text-align: center;
  }
  
  .project button:hover {
    background-color: #696060; /* Cambia el color de fondo al pasar el mouse */
    color: #f4f6f8; /* Cambia el color del texto al pasar el mouse */
  }
  